<!DOCTYPE html>
<html lang="en">
<head>
    <title>Person's recods</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <header>
        @ViewData["MainHeading"]
    </header>

    <section>
        <nav>
            <ul>
                <li><a asp-page="/Index">Home</a></li>
                <li><a asp-page="/Registration">Registration</a></li>
                <li><a asp-page="/View">View</a></li>
            </ul>
        </nav>

        <article>
            @RenderBody()
        </article>
    </section>

    <footer>
        <p>
            By <a href='https://www.linkedin.com/in/muzdalifa-ali' target='blank'>Muzdalifa Ali @DateTime.Now.ToString("yyyy")</a>
        </p>
    </footer>

</body>
</html>


